<span>
  <button
    class='country-toggle'
    type='button'
    data-bs-toggle='collapse'
    data-bs-target='#navbarToggleExternalContent'
    aria-controls='navbarToggleExternalContent'
    aria-expanded='false'
    aria-label='Toggle navigation'
    {{on 'click' @toggleNav}}
  >
    {{! <span class='navbar-toggler-icon'></span> }}
    <img
      src='assets/images/location.svg'
      alt='|'
      class='location-logo'
    />{{this.globalCountry}}
  </button>
</span>

<div class='sidebar' style={{(concat 'width: ' @sidebarWidth 'px')}}>
  <div class='sidebar_top'>
    <label class='label' for='search_input'>Search</label>
    <input
      type='text'
      id='search_input'
      class='country__search'
      placeholder='Search ...'
      value={{this.searchText}}
      {{on 'input' this.filterCountry}}
    />
    <button
      type='button'
      class='close_btn'
      id="close-button"
      {{on 'click' @toggleNav}}
    >&times;</button>
  </div>

  <div class='d-flex flex-column justify-content-start'>
    {{#each this.countryList as |country|}}
      {{#if (not (eq country.countryName 'India'))}}
        <button
          type='button'
          id={{@countryId country.countryName}}
          class='country__name
            {{if
              (eq this.country.selectedCountry country.countryCode)
              "active"
            }}'
          {{on 'click' (fn this.selectCountry country.countryCode)}}
        >{{country.countryName}}</button>
      {{/if}}
    {{/each}}
  </div>
</div>