<div
  class='card shadow weather_card'
  {{did-update this._getWeatherInfo this.country.countryData}}
>
  {{#if this.weatherInfo.weather}}
    <div class='country_name__2'>
      <h3 class='font-weight-bold mt-5'>
        <button
          type='button'
          class='btn btn-dark'
          {{on 'click' (fn this.changeCountry 'Another')}}
          disabled={{if (eq this.selectedCountry 'India') false true}}
        >{{this.globalCountry}}</button>
      </h3>
    </div>
  {{/if}}

  {{#if this.weatherInfo.weather}}
    <img class='card-img-top' src={{this.weatherInfo.weather}} alt='weather' />
    <div class='country_name'>
      <h3 class='font-weight-bold mt-5'>
        <button
          type='button'
          class='btn btn-dark'
          {{on 'click' (fn this.changeCountry 'India')}}
          disabled={{if (eq this.selectedCountry 'India') true false}}
        >India</button>
      </h3>
    </div>
  {{/if}}

  <div class='card-body'>
    {{#if this.isLoading}}
      <p class='text-center'>
        {{#if this.couldNotFindData}}
          Apologies! Some error occured getting data : &#10098;
        {{else}}
          <LoadingSpinner class='d-flex justify-content-center my-5' />
        {{/if}}
      </p>
    {{else}}
      {{! Temperature }}
      <div class='parameter d-flex flex-row flex-wrap align-items-center'>
        <img class='icon' src='assets/images/temp.svg' alt='temperature' />
        <div class='d-flex flex-column'>
          <p class='m-0 fs-6'>Temperature</p>
          <h6 class='fw-bold param_data'>{{this.weatherInfo.temp}}
            °{{this.tempUnit}}
          </h6>
        </div>
        <button
          type='button'
          class='convertTemp me-3'
          {{on 'click' this.changeTempUnit}}
        >°{{if (eq this.tempUnit 'C') 'F' 'C'}}</button>
      </div>

      {{! Sunrise and sunset }}
      <div
        class='parameter d-flex flex-row flex-wrap align-items-start justify-content-between'
      >
        <div class='parameter__box d-flex flex-row align-items-center'>
          <img
            class='icon me-2'
            src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS2KPZCNU0hvVHXCOGOycLqvrztydw_rCjW6g&usqp=CAU'
            alt='sunrise'
          />
          <div class='d-flex flex-column justify-content-start'>
            Sunrise
            <h6 class='fw-bold param_data'>{{this.weatherInfo.sunrise}}</h6>
          </div>
        </div>

        <div class='parameter__box d-flex flex-row align-items-center'>
          <img
            class='icon me-2'
            src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ8Wof7H3NV8iVlXuoG5dRZAjqj9Dd9KPJKRw&usqp=CAU'
            alt='sunset'
          />
          <div class='d-flex flex-column justify-content-start'>
            Sunset
            <h6 class='fw-bold param_data'>{{this.weatherInfo.sunset}}</h6>
          </div>
        </div>
      </div>

      {{! WindSpeed, direction and relative humidity }}
      <div
        class='parameter d-flex flex-row flex-nowrap align-items-start justify-content-between'
      >
        <div class='parameter__box d-flex flex-row align-items-start'>
          <img class='icon me-2 mt-2' src='assets/images/wind.svg' alt='wind' />
          <div class='d-flex flex-column'>
            <p class='m-0 fs-6'>Wind</p>
            <div class='d-flex flex-column align-items-start'>
              <h6 class='fw-bold param_data'>
                <span>{{this.weatherInfo.windspeed}}</span>
              </h6>
              <h3 class='font-weight-bold'>
                {{#if this.weatherInfo.weather}}
                  <span
                    class='badge bg-secondary d-flex align-items-center p-1 fs-6'
                  >
                    {{this.weatherInfo.windDirection}}
                    <img
                      class='icon arrow ms-1'
                      src='assets/images/windDirection.svg'
                      alt='wind direction'
                      style={{(concat
                        'transform: rotate('
                        this.weatherInfo.windDirectionAngle
                        'deg)'
                      )}}
                    />
                  </span>
                {{/if}}
              </h3>
            </div>
          </div>
        </div>

        <div class='parameter__box d-flex flex-row align-items-center'>
          <img
            class='icon me-2'
            src='assets/images/relative_humidity.svg'
            alt='relative_humidity'
          />
          <div class='d-flex flex-column'>
            <p class='m-0 fs-6'>Relative Humidity</p>
            <h6
              class='fw-bold param_data'
            >{{this.weatherInfo.avg_relative_humidity}}</h6>
          </div>
        </div>
      </div>

      <WeatherComponent::Tabs
        @relative_humidity={{this.weatherInfo.relativehumidity}}
        @temperatures={{this.weatherInfo.temperatures}}
        @precipitation={{this.weatherInfo.precipitation}}
      />
    {{/if}}
  </div>
</div>
