<div class='card mb-3'>
  <div class='card-body'>
    <h5 class='card-title'>{{@title}}</h5>
    <p class='card-text'>{{@description}}</p>
    <div class=''>
      By:
      <span class='news-author'>{{@author}}</span>
      | Updated:
      <span class='news-date'>{{@date}}</span>
    </div>
    <img src={{@imageUrl}} class='card-img-top news-image' alt='news-image' />
    <p class='card-text'>{{@content}}</p>
  </div>
</div>
