<div class='news-container card' {{did-update this._getNewsData this.country}}>
  {{#if (or this.fetchState.loading this.fetchState.error)}}
    {{#if this.fetchState.loading}}
      <LoadingSpinner class='d-flex justify-content-center my-5' />
    {{/if}}
    {{#if this.fetchState.error}}
      <div class='d-flex justify-content-center my-5'>
        <p class='text-center'>{{this.fetchState.error}}</p>
      </div>
    {{/if}}
  {{else}}
    {{#each this.newsData as |news|}}
      <NewsComponent::NewsCard
        @author={{'admin'}}
        @title={{news.headline}}
        @description={{news.description}}
        @date={{news.published}}
        @imageUrl={{news.image}}
      />
    {{/each}}
  {{/if}}
</div>
