<div class='card currency-card'>
  <div class='card-body'>
    <div class='input-group mb-2'>
      {{#let (unique-id) as |selectorId|}}
        <label class='input-group-text flag' for={{selectorId}}>
          {{#if @fromCurrency.img}}
            <img class='currency-flag' src={{@fromCurrency.img}} alt='?' />
          {{/if}}
        </label>
        <select
          class='form-select currency-input fw-bold'
          id={{selectorId}}
          {{on 'change' @onSelectorChange}}
        >
          {{#each @currencies as |currency|}}
            <option
              class='currency-option fw-light'
              value={{currency.code}}
              selected={{eq currency.code @fromCurrency.code}}
            >{{currency.code}} [{{currency.description}}]</option>
          {{/each}}
        </select>
      {{/let}}
    </div>
    <div class='mb-2 float-end'>
      1
      <span class='fw-bold'>{{@fromCurrency.code}}</span>
      =
      {{@exchangeRate}}
      <span class='fw-bold'>{{@toCurrency.code}}</span>
    </div>
    <div class='input-group'>
      {{#let (unique-id) as |inputId|}}
        <input
          id={{inputId}}
          type='number'
          class='form-control'
          placeholder='Amount'
          value={{@amount}}
          {{on 'input' @onInputChange}}
        />
      {{/let}}
    </div>
  </div>
</div>