{{page-title 'Money Weather Market'}}

<div class='theme-{{this.theme}}'>
  <nav class='navbar sticky-top justify-content-between'>
    <div class='container-fluid navbar-content'>
      <Sidebar
        @countryId={{this.countryId}}
        @sidebarWidth={{this.sidebarWidth}}
        @toggleNav={{this.toggleNav}}
        @onKeyPress={{this.onKeyPress}}
      />
      <img src='assets/images/logo.png' alt='Currency' class='logo' />
      <div class='d-flex justify-content-center align-items-center'>
        <label class='switch'>
          <input
            type='checkbox'
            name='theme-toggle'
            id='theme-toggle'
            {{on 'change' this.changeTheme}}
          />
          <span class='slider'></span>
        </label>
      </div>
    </div>
  </nav>

  {{! template-lint-disable no-invalid-interactive }}
  <div class='main' {{on "click" this.onClickWhenSidebarOpen}}>
    <div class='container py-3'>
      <div class='row mb-4'>
        <div class='col'>
          <CurrencyExchanger @from='USD' @to='INR' />
        </div>
      </div>

      <div class='row'>
        <div class='col-12 col-md-6 col-lg-5'>
          <WeatherComponent::Weather />
        </div>

        <div class='col-12 col-md-6 col-lg-7'>
          <NewsComponent::News />
        </div>
      </div>
    </div>
  </div>
  {{! template-lint-disable no-invalid-interactive }}
</div>

{{outlet}}